* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.border {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.img {
  position: relative;
}
.image {
  width: 270px;
  height: 500px;
}

.back {
  width: 270px;
  height: 50px;
  background-color: #181820;
  position: absolute;
  top: 210px;
  color: aliceblue;
}
.ism {
  width: auto;
  height: auto;
  position: absolute;
  color: aliceblue;
  background-color: #31313d;
  position: absolute;
  top: 22px;
  left: 76px;
}
.ism > p {
  font-size: 12px;
}

.tel {
  width: auto;
  height: auto;
  position: absolute;
  color: aliceblue;
  background-color: #31313d;
  position: absolute;
  top: 37.5px;
  left: 76px;
  letter-spacing: 1.1px;
}
.tel > p {
  font-size: 9px;
}
.radius {
  width: 29px;
  height: 29px;
  position: absolute;
  color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 38px;
  padding-left: 2px;
  background-color: #c46522;
  letter-spacing: 1.1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radius > p {
  font-size: 11px;
}
.sana {
  width: auto;
  height: auto;
  position: absolute;
  color: aliceblue;
  background-color: #181820;
  position: absolute;
  top: 58.5px;
  left: 224px;
}
.sana > p {
  font-size: 9px;
}

.pul {
  width: 183px;
  height: auto;
  position: absolute;
  color: aliceblue;
  background-color: #4d4f64;
  position: absolute;
  top: 80.5px;
  left: 54px;
  line-height: 1.6;
}
.pul > p {
  font-size: 10px;
}
.send {
  width: 100px;
  height: auto;
  position: absolute;
  color: #439ab3;
  background-color: #4d4f64;
  position: absolute;
  top: 115.5px;
  left: 54px;
  line-height: 1.6;
}
.send > p {
  font-size: 10px;
}
.info {
  width: auto;
  height: 6px;
  position: absolute;
  color: aliceblue;
  top: 137px;
  left: 128px;
}
.info > span {
  font-size: 8px;
  background-color: #3d4051;
}
.info_2 {
  width: auto;
  height: 6px;
  position: absolute;
  color: aliceblue;
  top: 148px;
  left: 128px;
}
.info_2 > span {
  font-size: 8px;
  background-color: #3d4051;
}
.bac_info {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 140px;
  left: 100px;
  background-color: #3d4051;
}
.sharx {
  width: 60px;
  height: 16px;
  position: absolute;
  color: aliceblue;
  background: #181820;
  top: 194px;
  left: 198px;
  letter-spacing: 0.3px;
}
.sharx > p {
  font-size: 8px;
}
.sum {
  width: auto;
  height: auto;
  position: absolute;
  color: #919193;
  background-color: #181820;
  top: 445px;
  left: 21px;
  letter-spacing: 0.3px;
}
.sum > p {
  font-size: 10px;
}
.border_2 {
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_2 {
  width: 400px;
  height: 400px;
}

.border_3 {
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: cencter;
  position: relative;
}
.logos {
  width: 450px;
  height: 450px;
  background: rgb(7, 0, 117);
  background: radial-gradient(
    circle,
    rgba(7, 0, 117, 0.9668242296918768) 0%,
    rgba(11, 11, 62, 1) 61%,
    rgba(5, 46, 94, 1) 96%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 350px;
}

.asos {
  width: 345px;
  height: 345px;
  border: 2px solid rgba(12, 234, 215, 0.8);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(12, 234, 215, 0.8);
  -moz-box-shadow: 0px 0px 12px 2px rgba(12, 234, 215, 0.8);
  box-shadow: 0px 0px 12px 2px rgba(12, 234, 215, 0.8);
  border-radius: 51%;
  background-color: rgba(12, 234, 215, 0.8);
}
.asos_2 {
  width: 341px;
  height: 341px;
  border: 1px solid #fff;
  background-color: #01304d;
  border-radius: 51%;
  position: absolute;
  left: 404px;
  z-index: 10;
}
.asos_3 {
  width: 255px;
  height: 255px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 51%;
  position: absolute;
  left: 446.5px;
  z-index: 11;
  overflow: hidden;
}

.law {
  width: 250px;
  height: 250px;
}
.huquq {
  width: 42px;
  height: 22px;
  transform: rotate(40deg);
  position: absolute;
  top: 90px;
  left: 90px;
}
.back {
  font-size: 50px;
  color: red;
  background: none;
  position: absolute;
  top: 0px;
  left: 50px;
}

i {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-size: 22px;
  color: #d3e9e6;
  font-weight: 300;
}

.since {
  position: absolute;
  top: 225px;
  left: 90px;
}